body {
  padding: 10px;
}

.base-grid {
  display: flex;
  flex-direction: row;
}

.input-field {
  flex-direction: row;
  margin-left: 0px;
  max-width: 140px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.color-prev {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;

}

.color-sliders {
  flex-direction: column;
}

.slider {
  width: 100%;
  height: auto;
}

.color-band {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
}

.button {
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

sp-divider {
  margin: 10px 0px;
  width: 100%;
}